* {
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container { 
  position: relative;
  bottom: 100px;
  left: 75px;
  width: 392px;
  height: 208px;
  background: url(./images/map.png) no-repeat no-repeat;
  transform: scale(3);
  image-rendering: pixelated;
}

.player-info {
  position: absolute;
  top: 0;
  left:0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end
}
/* Player chat input styles */
.player-chat {
  position: relative;
  top: 250px;
  right: 200px;
  width: 240px;
  display: flex;
  gap: 0.5em;
  align-items: flex-end
}
input#player-chat-text {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 300px;
}
button#player-chat-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  width: 100px;
  border-radius: 4px;
  outline: 0;
}
/* Player input style end */
label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
  /* text-transform: uppercase; */
}
input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

/* Characters */
.grid-cell {
  position: absolute;
  width: 16px;
  height: 16px;
  left: -23px;
  top: -2px;
  /* transform: scale(0.6); */
}
.Character {
  transition: transform 0.4s;
  image-rendering: pixelated;
  /* top: -10px;
  left: -20px; */
  z-index: 1;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top:-23px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(./images/arrow.png) no-repeat no-repeat;
}
.Character_sprite {
  overflow: hidden;
  top: -18px;
  left: -8px;
  width: 32px;
  height: 32px;
  background: url(./images/ghost.png);
  animation: ghostFloat 1.5s linear infinite alternate-reverse;
}

.Character[data-direction="right"] .Character_sprite {
  background-position-x: 32px;
}

.Character_shadow {
  background: url(./images/shadow.png) no-repeat no-repeat;
  left: 0px;
  top: 2px;
  transform: scale(0.8);
}
/* character costumization stuff */
#player-item-button {
  position: relative;
  float: right;
  right: 10;
  left: 900;
}

.Character[data-direction="right"] .Character_shades_sprite {
  background-position-x: 32px;
}

.Character_shades_sprite {
  overflow: hidden;
  top: -18px;
  left: -8px;
  width: 32px;
  height: 32px;
  background: url(./images/shades_over.png);
  animation: ghostFloat 1.5s linear infinite alternate-reverse;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.Character_name-container {
  position: absolute;
  top: -18px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: auto;
}


.Character_coins {
  margin-left: 1px;
  color: gold;
}

.Character_hand {
  left: 4px;
  top: -5px;
  width: 7.5px;
  height: 7.5px;
  animation: ghostFloat 1.5s linear infinite alternate-reverse;
}

/* Item classes */
.nothing {
  background: none no-repeat no-repeat;
}

.dixon_coffee {
  background: url(./images/items/dixon_coffee.png) no-repeat no-repeat;
}

/* Coins */
.Coin_sprite {
  background: url(./images/orange-cash.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
  top: -5px;
  left: 0px;
}
.Coin_shadow {
  background: url(./images/coin-shadow.png) no-repeat no-repeat;
  top: -1px;
  left: 0px;
}
@keyframes coinFloat {
  from { transform: scale(0.6) translateY(0) }
  to { transform: scale(0.7) translateY(5px) }
}
@keyframes ghostFloat {
  from { transform: scale(0.7) translateY(0) }
  to { transform: scale(0.7) translateY(5px) }
}


/* Chat bubble section */
.bubble {
  position: absolute;
  font-size: 5px;
  width: 200x;
  background: #fff;
  border-radius: 12px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  color: #000;
  left: 14px;
  bottom: 25px;
  z-index: 2;
}
.bubble.you{
  z-index: 3;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid #fff;
  border-right: 3px solid transparent;
  border-top: 1px solid #fff;
  border-bottom: 5px solid transparent;
  left: 2px;
  bottom: -4px;
}